[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
pytest = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"

[requires]
python_version = "3.9"
