[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"

[scripts]
test = "pytest"
